<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
     $(document).ready(function(){

        $('#btnMyInfo').click(function(){
            location.href = '/myinfo?';
        });
        $('#btnItemReg').click(function(){
            location.href = '/getitemRegister?';

        });
     });

</script>
<body>
<h1>아이템 리스트</h1>
<form id="itemList">
    <table border="1">
        <tr>
            <th align="center" width="80">No</th>
            <th align="center" width="80">ID</th>
            <th align="center" width="80">PRICE</th>
        </tr>
        <tr th:each="item:${list}">
            <th align="center" th:text="${item.itemNo}" width="80">${item.itemNo}</th>
            <th align="center" th:text="${item.id}" width="80">${item.id}</th>
            <th align="center" th:text="${item.price}" width="80">${item.price}</th>

        </tr>
    </table>
</form>
<br>
<div>
    <button id="btnMyInfo">내정보</button>
    <button id="btnItemReg">아이템등록</button>
</div>
</body>
</html>