<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function(){

        var form = $('#signUpForm');

        $('#btnReg').click(function(){
            form.attr("method", "post");
            form.attr("action", '/postsignup');
            form.submit();
        });
    });
</script>
<body>
<h1>회원가입</h1>
<form id="signUpForm">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" name="id"/>
            </td>
        </tr>
        <tr>
            <td>PW</td>
            <td>
                <input type="text" name="pw" />
            </td>
        </tr>
        <tr>
            <td>NICK NAME</td>
            <td>
                <input type="text" name="nickname" />
            </td>
        </tr>
    </table>
</form>
<br>
<div>
    <button id="btnReg">확인</button>
</div>
</body>
</html>