<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(document).ready(function(){

        var form = $('#itemRegister');

        $('#btnItemList').click(function(){
            form.attr("method", "post");
            form.attr("action", '/itemregister');
            form.submit();
        });
    });
</script>
<body>
<h1>아이템 등록</h1>
<form id="itemRegister">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" name="id"/>
            </td>
        </tr>
        <tr>
            <td>Item Name</td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        <tr>
            <td>Item Price</td>
            <td>
                <input type="text" name="price" />
            </td>
        </tr>
    </table>
</form>
<br>
<div>
    <button id="btnItemList">등록하기</button>

</div>
</body>
</html>