<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
     $(document).ready(function(){

        $('#btnMyInfo').click(function(){
            location.href = '/myinfo?';
        });
        $('#btnItemReg').click(function(){
            location.href = '/itemregister?';

        });
     });

</script>
<body>
<h1>아이템 리스트</h1>
<form id="myinfo">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" name="id"/>
            </td>
        </tr>
        <tr>
            <td>PW</td>
            <td>
                <input type="text" name="pw" />
            </td>
        </tr>
        <tr>
            <td>NICK NAME</td>
            <td>
                <input type="text" name="nickname" />
            </td>
        </tr>
    </table>
</form>
<br>
<div>
    <button id="btnMyInfo">내정보</button>
    <button id="btnItemReg">아이템등록</button>

</div>
</body>
</html>